@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=Inclusive+Sans&family=Lato&family=Lexend&family=Roboto+Mono&family=Share+Tech+Mono&display=swap');
body {
    font-family: "Lexend";
}

a:visited {
    color: blue;
}
